# 地址 https://EditorConfig.org

 top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file  换行符每个文件都有一个换行符
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation  使用大括号扩展符号匹配多个文件
# Set default charset    #设置默认字符集

[*.{js,py}]
charset = utf-8

# 4 space indentation   空格缩进
[*.py]
indent_style = space
indent_size = 4

# Tab indentation (no size specified)   制表符缩进
[Makefile]
indent_style = tab

# Indentation override for all JS under lib directory  lib目录下所有JS的缩进覆盖
[lib/**.js]
indent_style = space
indent_size = 2

# Matches the exact files either package.json or .travis.yml 表示仅md文件适用
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
